<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
</head>
<body>
    <form method = "POST">
        {% csrf_token %}  
    <div class = "login">
        <h1>what is your name????</h1<br><br>
        Answer:<input type = "text" name = "name" textarea = 50><br><br>
        
        <button type = "submit" value = submit><br>
          <button> <a href= 'game/'>next</a> </button> 
        

    </div>

 </form>   
</body>
</html>